name: CI
on: [ push, pull_request, workflow_dispatch ]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: psf/black@stable
  test:
    strategy:
      matrix:
        include:
          - runner: "macos-13" # Ventura Intel
          - runner: "macos-14" # Sequoia ARM
          - runner: "macos-15" # Sonoma ARM
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
      - run: pip3 install --break-system-packages .
      - name: Create jail
        run: sudo python3 -m darwinjail jail
